<%# <img src='https://loremflickr.com/320/240/apartment,airbnb' alt='random-image' width='100%' height='450px'> %>
<%# <div class="map" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')" ></div> %>
<%= image_tag "appart1.jpg", class: "map" %>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>

      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
        <%# <div class="map" style="background-image: url('https://loremflickr.com/320/240/map,paris/all')"></div> %>
        <%# <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.77824552367!2d2.2646347173257015!3d48.85893843474013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sTour%20Eiffel!5e0!3m2!1sfr!2sfr!4v1690793411794!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> %>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90493.61866918344!2d-0.6685842117603586!3d44.8638097260864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd552801a4ace15b%3A0xf3b07da316f3386e!2sParc%20bordelais!5e0!3m2!1sfr!2sfr!4v1690972929369!5m2!1sfr!2sfr" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <h5>Book this place!</h5>

        <form action="">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>

      <div class="flat-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
             <%= @flat.number_of_guests %> <i class="fa-solid fa-users"></i>
          </div>
          <div class="flex ms-2">
            <%= @flat.price_per_night %> <i class="fa-solid fa-euro-sign"></i>
          </div>
        </div>
      </div>

      <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa-brands fa-facebook-square me-2 fa-2x"></i>
            <i class="fa-brands fa-twitter-square me-2 fa-2x"></i>
            <i class="fa-brands fa-pinterest-square me-2 fa-2x"></i>
          </div>
        </div>
      </div>

    </div>





  </div>





</div>
